#cssantiqueContent {
  display: flex; 
  flex-direction: row;
}

#cssantiqueForm {
}

.browserLogo {
  width: 24px;
  height: 24px;
}

.browserRadio {
  display: none;
}

.browserRadio:checked + label {
  height: 25px;
  background-color:lightgrey;
}

#browserVersion {
}

#cssDiscarded {

}
